.App {
  text-align: center;
}

.Head{
  text-align: center;
  background-color:rgb(105, 230, 230);
}

.Heading{
  text-align: center;
  color: white;
  background-color: rgb(15, 74, 170);
  font-weight: bold;
}

.logo {
  margin-left: 41%;
  height:250px;
  width:250px;
  pointer-events: none;
}

.Globe{
  height:100%;
  width:100%;
}

.BigImage{
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  height:100% ;
  width:100% ;
  z-index: 1;
  
}

.popImage{
  height:500px;
  width:800px;
  top:75px;
  position: relative;
}

.popoff{
  position:fixed;
  height:30px;
  width:50px;
  right:272px;
  top:72px;
  background-color:white;
  color: black;
  font-weight: bolder;
  border: 1px solid black;
  margin: 2px;
}
.popoff:hover{
  background-color: red;
  color: white;
}

.ContentBox{
  height:121px;
  width:100%;
  padding-bottom: 1px;
  border: 1px solid black;
}

.toppings{
  margin:0px;
  padding:0px;
}

.Loader{
  text-align: center;
  margin:6%;
}

.Image{
  border: 3px solid rgb(104, 27, 27);
  margin:3px;
  height:110px;
  width:15%;
  float:left;
}

.disableButton{
  height:30px;
  width:85px;
  background-color:rgb(40, 2, 121);
  border: 1px solid black;
  margin: 2px;
}

.button{
  height:30px;
  width:85px;
  background-color:rgba(0, 153, 255, 0.733);
  border: 1px solid black;
  margin: 2px;
}

.button:hover{
  background-color:black;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
